
@tailwind base;
@tailwind components;
@tailwind utilities;
body { margin:0; background:#07070a; color:white; font-family: ui-sans-system; }
.mono { font-family: ui-monospace, Menlo, monospace; }
@keyframes marquee { 0% { transform: translateX(0); } 100% { transform: translateX(-50%); } }
@keyframes winnerScale { 0% { transform: scale(0.8); opacity:0 } 100% { transform: scale(1); opacity:1 } }
